.heroContainer {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Toronto_Skyline_Summer_2020.jpg/1200px-Toronto_Skyline_Summer_2020.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: auto;
}